<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>온앤홈 관리자</title>
  <link rel="stylesheet" href="/css/import.css" />
  <script src="/js/oncommon.js"></script>
</head>
<body>
  <!-- 백그라운드 -->
  <div class="on-wrapper">
    <!-- 컨텐츠 영역 -->
    <div class="on-content">
      <!-- 사이드바 메뉴 -->
      <div class="on-side-menu">
        <div class="side-menu-logo">
          <h2>On&Home</h2>
        </div>
        <div class="on-side-menu-nav">
          <ul class="side-menu-list">
            <li><a href="/admin/order/list.html"><span class="ico_order"></span>주문관리</a></li>
            <li><a href="/admin/product/list.html"><span class="ico_item"></span>상품관리</a></li>
            <li>
              <a href="/admin/board/dashboard.html"><span class="ico_board"></span>게시판관리</a>
              <ul>
                <li><a href="/admin/board/dashboard.html">게시판 전체보기</a></li>
                <li><a href="/admin/board/notice/list.html">공지사항</a></li>
                <li><a href="/admin/board/review/list.html">리뷰</a></li> <!-- 오타 수정 -->
                <li><a href="/admin/board/qna/list.html">Q&amp;A</a></li>
              </ul>
            </li>
            <li><a href="/admin/user/list.html"><span class="ico_member"></span>회원관리</a></li>
          </ul>
        </div>
        <div class="on-side-menu-user">
          <span class="on-side-menu-id">Admin</span><span>님</span></sla><br><span> 안녕하세요</span>
          <div class="on-side-menu-logout">
            <span style="font-size: 16px;">logout</span>
            <button class="log-out"></button>
          </div>
        </div>
      </div>
      <!-- <내부영역 -->
      <div class="on-main">
        <h2 class="mb-30">User Detail</h2>
        <table class="table mb-40">
          <colgroup>
            <col width="20%">
            <col width="">
          </colgroup>
          <tbody>
            <tr>
              <th>이름</th>
              <td>모모</td>
            </tr>
            <tr>
              <th>ID</th>
              <td>momo</td>
            </tr>    
            <tr>
              <th>성별</th>
              <td>F</td>
            </tr>
            <tr>
              <th>국적</th>
              <td>외국인</td>
            </tr>                                  
            <tr>
              <th>e-mail</th>
              <td>momo@naver.com</td>
            </tr>
            <tr>
              <th>전화번호</th>
              <td>010-4567-6874</td>
            </tr>

            <tr>
              <th>주소</th>
              <td>서울 강남구 청담동 456-789 JYP 13층</td>
            </tr>                         
          </tbody>
        </table>
        <div class="flex mb-20 mt-20 justify-end">
          <a href="/admin/user/list.html"><button class="btn btn--quarternary-outline">목록</button></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
