<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>온앤홈 관리자</title>
  <link rel="stylesheet" href="/css/import.css" />
  <script src="/js/oncommon.js"></script>
</head>
<body>
  <!-- 백그라운드 -->
  <div class="on-wrapper">
    <!-- 컨텐츠 영역 -->
    <div class="on-content">
      <!-- 사이드바 메뉴 -->
      <div class="on-side-menu">
        <div class="side-menu-logo">
          <h2>On&Home</h2>
        </div>
        <div class="on-side-menu-nav">
          <ul class="side-menu-list">
            <li><a href="/admin/order/list.html"><span class="ico_order"></span>주문관리</a></li>
            <li><a href="/admin/product/list.html"><span class="ico_item"></span>상품관리</a></li>
            <li>
              <a href="/admin/board/dashboard.html"><span class="ico_board"></span>게시판관리</a>
              <ul>
                <li><a href="/admin/board/dashboard.html">게시판 전체보기</a></li>
                <li><a href="/admin/board/notice/list.html">공지사항</a></li>
                <li><a href="/admin/board/review/list.html">리뷰</a></li> 
                <li><a href="/admin/board/qna/list.html">Q&amp;A</a></li>
              </ul>
            </li>
            <li><a href="/admin/user/list.html"><span class="ico_member"></span>회원관리</a></li>
          </ul>
        </div>
        <div class="on-side-menu-user">
          <span class="on-side-menu-id">Admin</span><span>님</span></sla><br><span> 안녕하세요</span>
          <div class="on-side-menu-logout">
            <span style="font-size: 16px;">logout</span>
            <button class="log-out"></button>
          </div>
        </div>
      </div>
      <!-- <내부영역 -->
      <div class="on-main">
        <h2 class="mb-30">User List</h2>
        <div class="flex mb-20 justify-end">
          <input type="text" class="input mr-4" placeholder="검색어를 입력하세요" />
          <button class="btn-ico btn-ico--srch"></button>
        </div>
        <div class="grid">
          <table>
            <colgroup>
              <col width="5%">
              <col width="10%">
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <thead>
              <tr>
                <th scope="col">선택</th>
                <th scope="col">No</th>
                <th scope="col">이름</th>
                <th scope="col">ID</th>
                <th scope="col">성별</th>
                <th scope="col">연락처</th>
                <th scope="col">생년월일</th>
                <th scope="col">가입일자</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">1</td>
                <td class="center"><a href="/admin/user/detail.html">사나</a></td>
                <td class="center"><a href="/admin/user/detail.html">sana94</a></td>
                <td class="center">F</td>
                <td class="center">010-1234-4567</td>
                <td class="center">1996-12-29</td>
                <td class="center">2024-01-03</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">2</td>
                <td class="center"><a href="/admin/user/detail.html">아이유</a></td>
                <td class="center"><a href="/admin/user/detail.html">iu_star</a></td>
                <td class="center">F</td>
                <td class="center">010-8754-3920</td>
                <td class="center">1993-05-16</td>
                <td class="center">2023-11-12</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">3</td>
                <td class="center"><a href="/admin/user/detail.html">뷔</a></td>
                <td class="center"><a href="/admin/user/detail.html">v_taehy</a></td>
                <td class="center">M</td>
                <td class="center">010-2845-7109</td>
                <td class="center">1995-12-30</td>
                <td class="center">2024-05-02</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">4</td>
                <td class="center"><a href="/admin/user/detail.html">제니</a></td>
                <td class="center"><a href="/admin/user/detail.html">jennie_k</a></td>
                <td class="center">F</td>
                <td class="center">010-6753-4298</td>
                <td class="center">1996-01-16</td>
                <td class="center">2024-02-27</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">5</td>
                <td class="center"><a href="/admin/user/detail.html">정국</a></td>
                <td class="center"><a href="/admin/user/detail.html">jkook95</a></td>
                <td class="center">M</td>
                <td class="center">010-9458-6372</td>
                <td class="center">1997-09-01</td>
                <td class="center">2023-12-19</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">6</td>
                <td class="center"><a href="/admin/user/detail.html">태연</a></td>
                <td class="center"><a href="/admin/user/detail.html">taeyeon</a></td>
                <td class="center">F</td>
                <td class="center">010-3589-7264</td>
                <td class="center">1989-03-09</td>
                <td class="center">2024-04-08</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">7</td>
                <td class="center"><a href="/admin/user/detail.html">차은우</a></td>
                <td class="center"><a href="/admin/user/detail.html">eunwoo7</a></td>
                <td class="center">M</td>
                <td class="center">010-6183-7452</td>
                <td class="center">1997-03-30</td>
                <td class="center">2023-09-14</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">8</td>
                <td class="center"><a href="/admin/user/detail.html">리사</a></td>
                <td class="center"><a href="/admin/user/detail.html">lalisa_m</a></td>
                <td class="center">F</td>
                <td class="center">010-7924-1830</td>
                <td class="center">1997-03-27</td>
                <td class="center">2024-03-20</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">9</td>
                <td class="center"><a href="/admin/user/detail.html">지민</a></td>
                <td class="center"><a href="/admin/user/detail.html">jimin95</a></td>
                <td class="center">M</td>
                <td class="center">010-3129-5784</td>
                <td class="center">1995-10-13</td>
                <td class="center">2023-11-07</td>
              </tr>
              <tr>
                <td class="center"><input type="checkbox"></td>
                <td class="center">10</td>
                <td class="center"><a href="/admin/user/detail.html">아이린</a></td>
                <td class="center"><a href="/admin/user/detail.html">irene0329</a></td>
                <td class="center">F</td>
                <td class="center">010-5827-9341</td>
                <td class="center">1991-03-29</td>
                <td class="center">2024-05-11</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="flex mb-20 mt-20 justify-end">
          <button class="btn btn--secondary">삭제</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
