<!doctype html>
<html lang="ko">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>온앤홈 관리자</title>
    <link rel="stylesheet" href="../css/import.css" />
  <script src="../js/oncommon.js"></script>
</head>
<body>
  <div class="login-wrap">
    <div class="login-card">
      <div class="login-logo-wrap">
        <h1 class="login_header">Logo</h1>
      </div>
      <div class="mb-16">
        <h4 class="login-h4">ID</h4>
        <input class="input w-full" placeholder="ID를 입력하세요" />
      </div>
      <div>
        <h4 class="login-h4">PASSWORD</h4>
        <input class="input w-full" placeholder="*************" />
      </div>
      <a href="dashboard.html"><button class="btn btn--blk w-full mt-40" type="submit">로그인</button></a>
      <div class="center mt-20" style="font-size: xx-small;">
        ©2025 on&home. All rights reserved.
      </div>
    </div>
  </div>
</body>
</html>
