<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On&Home</title>
  <link rel="stylesheet" href="/css/import.css" />
  <script src="/js/oncommon.js"></script>
</head>
<body>
  <!-- 백그라운드 -->
  <div class="on-main-wrap">
      <!-- 헤더 -->
      <div th:replace="~{fragments/header :: header}">
      </div>
<!--    <header class="on-header">-->
<!--      &lt;!&ndash; line01 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner">-->
<!--          <div>-->
<!--            <ul class="sns-list">-->
<!--              <a href="https://www.facebook.com/?locale=ko_KR" target="_blank"><li class="sns-obj-fb"></li></a>-->
<!--              <a href="https://section.blog.naver.com/" target="_blank"><li class="sns-obj-blg"></li></a>-->
<!--              <a href="https://www.instagram.com/" target="_blank"><li class="sns-obj-ins"></li></a>-->
<!--              <a href="https://www.youtube.com/" target="_blank"><li class="sns-obj-ut"></li></a>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="login-group">-->
<!--            <ul class="login-group-list">-->
<!--              <li><a href="/user/login.html">로그인</a></li>-->
<!--              <li><a href="#">회원가입</a></li>-->
<!--              <li><a href="#">공지사항</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; line02 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner2">-->
<!--          <a href=""><div class="header-logo-placeholder"></div></a>-->
<!--          <div>-->
<!--            <h1>On&Home</h1>-->
<!--          </div>-->
<!--          <div class="header-search-area">-->
<!--            <input type="text" class="input-m" placeholder="검색어를 입력하세요" />-->
<!--            <ul class="header-icons">-->
<!--              <li class="ico-mypage"><a href="#"></a></li>-->
<!--              <li class="ico-cart"><a href="#"></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; 메뉴 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner">-->
<!--          <div class="menu-wrapper">-->
<!--            <ul class="gnb">-->
<!--              <li>-->
<!--                <a href="#">TV/오디오</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">TV</a></li>-->
<!--                  <li><a href="#">오디오</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">주방가전</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">냉장고</a></li>-->
<!--                  <li><a href="#">전자렌지</a></li>-->
<!--                  <li><a href="#">식기세척기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">생활가전</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">세탁기</a></li>-->
<!--                  <li><a href="#">청소기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">에어컨/공기청정기</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">에어컨</a></li>-->
<!--                  <li><a href="#">공기청정기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">기타</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">정수기</a></li>-->
<!--                  <li><a href="#">안마의자</a></li>-->
<!--                  <li><a href="#">PC</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>      -->
<!--    </header>-->
    <div class="regeist_wrapper">
      <div class="regeist_inner">
        <h2 class="mb-30">회원정보</h2>
        <div class="border-1p"></div>
        <div>
          <table>
            <tr class="regeist_data_tit">
              <th>이름</th>
              <td>
                <input class="input" type="text" value="모모">
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>ID</th>
              <td>
                <input class="input" type="text" value="momo">
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>성별</th>
              <td>
                <input type="radio" name="sex" checked >
                <label class="mr-20">남자</label>
                <input type="radio" name="sex">
                <label>여자</label>
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>국적</th>
              <td>
                <input type="radio" name="country">
                <label class="mr-20">내국인</label>
                <input type="radio" name="country" checked >
                <label>외국인</label>
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>e-mail</th>
              <td>
                <input class="input" type="text" value="momo@naver.com">
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>전화번호</th>
              <td>
                <input class="input" type="text" value="010-1234-4567"> 
              </td>
            </tr>
            <tr class="regeist_data_tit">
              <th>주소</th>
              <td>
                <input class="input" type="text" value="서울 강남구 청담동 123-34 JYP빌딩 13층">
              </td>
            </tr>                                                                           
          </table>
          <div class="border-1p"></div>          
          <div class="flex justify-center">
            <a href="/user/"></a><button class="btn btn--tertiary">회원정보 수정</button>
          </div>   
        </div>
        <div>
        </div>        
      </div>
    </div>
  </div>
  <!-- 푸터 -->
  <div th:replace="~{fragments/footer :: footer}">
  </div>
</body>
</html>
