<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>On&Home</title>
  <link rel="stylesheet" href="/css/import.css" />
  <script src="/js/oncommon.js"></script>
</head>
<body>
  <!-- 백그라운드 -->
  <div class="on-main-wrap">
      <!-- 헤더 -->
      <div th:replace="~{fragments/header :: header}">
      </div>
    <!-- 헤더 -->
<!--    <header class="on-header">-->
<!--      &lt;!&ndash; line01 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner">-->
<!--          <div>-->
<!--            <ul class="sns-list">-->
<!--              <a href="https://www.facebook.com/?locale=ko_KR" target="_blank"><li class="sns-obj-fb"></li></a>-->
<!--              <a href="https://section.blog.naver.com/" target="_blank"><li class="sns-obj-blg"></li></a>-->
<!--              <a href="https://www.instagram.com/" target="_blank"><li class="sns-obj-ins"></li></a>-->
<!--              <a href="https://www.youtube.com/" target="_blank"><li class="sns-obj-ut"></li></a>-->
<!--            </ul>-->
<!--          </div>-->
<!--          <div class="login-group">-->
<!--            <ul class="login-group-list">-->
<!--              <li><a href="/user/login.html">로그인</a></li>-->
<!--              <li><a href="/user/regeist.html">회원가입</a></li>-->
<!--              <li><a href="/user/notice.html">공지사항</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; line02 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner2">-->
<!--          <a href=""><div class="header-logo-placeholder"></div></a>-->
<!--          <div>-->
<!--            <h1>On&Home</h1>-->
<!--          </div>-->
<!--          <div class="header-search-area">-->
<!--            <input type="text" class="input-m" placeholder="검색어를 입력하세요" />-->
<!--            <ul class="header-icons">-->
<!--              <li class="ico-mypage"><a href="#"></a></li>-->
<!--              <li class="ico-cart"><a href="#"></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; 메뉴 &ndash;&gt;-->
<!--      <div class="on-header-top">-->
<!--        <div class="on-header-inner">-->
<!--          <div class="menu-wrapper">-->
<!--            <ul class="gnb">-->
<!--              <li>-->
<!--                <a href="#">TV/오디오</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">TV</a></li>-->
<!--                  <li><a href="#">오디오</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">주방가전</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">냉장고</a></li>-->
<!--                  <li><a href="#">전자렌지</a></li>-->
<!--                  <li><a href="#">식기세척기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">생활가전</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">세탁기</a></li>-->
<!--                  <li><a href="#">청소기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">에어컨/공기청정기</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">에어컨</a></li>-->
<!--                  <li><a href="#">공기청정기</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#">기타</a>-->
<!--                <ul class="depth2">-->
<!--                  <li><a href="#">정수기</a></li>-->
<!--                  <li><a href="#">안마의자</a></li>-->
<!--                  <li><a href="#">PC</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>      -->
<!--    </header>-->


     <!-- 아이템영역2  -->
    <div class="on-item02 mb-80 mt-80">
      <div class="on-item02-inner">
        <h2 class="sub-title line-under">공지사항</h2>
        
          <div class="flex mb-20 justify-end">
            <input type="text" class="input mr-4" placeholder="검색어를 입력하세요" />
            <button class="btn-ico btn-ico--srch"></button>
          </div>
          <div class="grid">
            <table>
              <colgroup>
                <col width="10%">
                <col>
                <col width="20%">
                <col width="20%">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col">작성일자</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="center">01</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">쇼핑몰 오픈입니다.</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-10-18</td>
                </tr>
                <tr>
                  <td class="center">02</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">추석 연휴 배송 일정 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-09-05</td>
                </tr>
                <tr>
                  <td class="center">03</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">신규 회원 대상 할인 쿠폰 지급 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-09-20</td>
                </tr>
                <tr>
                  <td class="center">04</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">시스템 점검으로 인한 서비스 일시 중단 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-08-14</td>
                </tr>
                <tr>
                  <td class="center">05</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">여름 시즌 한정 세일 이벤트 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-07-01</td>
                </tr>
                <tr>
                  <td class="center">06</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">적립금 제도 변경 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-06-15</td>
                </tr>
                <tr>
                  <td class="center">07</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">배송지 정보 변경 기능 개선 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-05-28</td>
                </tr>
                <tr>
                  <td class="center">08</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">신규 브랜드 입점 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-04-10</td>
                </tr>
                <tr>
                  <td class="center">09</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">무료 배송 이벤트 종료 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-03-22</td>
                </tr>
                <tr>
                  <td class="center">10</td>
                  <td class="center"><a href="/user/board/notice/notice_detail.html">고객센터 운영시간 변경 안내</a></td>
                  <td class="center">admin</td>
                  <td class="center">2025-02-03</td>
                </tr>
              </tbody>
            </table>
          </div>                 
          <!-- <div class="flex mb-20 mt-20 justify-end">
            <a href="/admin/board/notice/write.html"><button class="btn btn--primary">등록</button></a>
          </div>         -->
      </div>
    </div>  
<!--    <footer class="footer-o">-->
<!--      <div class="footer-wrapper">-->
<!--        <div class="footer-l">-->
<!--          <div>고객센터 <span class="footer-number">1544-7777</span></div>-->
<!--          <div class="flex mt-20">-->
<!--            <div>-->
<!--              <ul class="footer-title">-->
<!--                <li>회사명</li>-->
<!--                <li>대표</li>-->
<!--                <li>팩스</li>-->
<!--                <li>이메일</li>-->
<!--                <li>주소</li>-->
<!--                <li>사업자등록번호</li>-->
<!--                <li>통신판매업신고</li>-->
<!--                <li>개인정보 책임자</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="ml-20">-->
<!--              <ul class="footer-title">-->
<!--                <li>(주)하이미디어</li>-->
<!--                <li>이상혁</li>-->
<!--                <li>02-1544-7778</li>-->
<!--                <li>faker@naver.com</li>-->
<!--                <li>서울 서초구 서초동 123-456</li>-->
<!--                <li>123-456789</li>-->
<!--                <li>카456-7894</li>-->
<!--                <li>최우제</li>-->
<!--              </ul>-->
<!--            </div>            -->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="footer-r">-->
<!--          <div>-->
<!--            <span class="footer-number">Review 게시판</span>-->
<!--            <div class="footer-review">-->
<!--              <ul class="footer-title">-->
<!--                <li>배송 빠르고 좋아요!</li>-->
<!--                <li>포장 꼼꼼해서 만족합니다</li>-->
<!--                <li>색감 실물이 더 예뻐요</li>-->
<!--                <li>가격대비 품질이 훌륭합니다</li>-->
<!--                <li>설치 기사님 친절했어요</li>-->
<!--                <li>두 번째 구매인데 역시 좋네요</li>-->
<!--                <li>응대가 빠르고 친절합니다</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--                      -->
<!--          </div>-->
<!--          <div>-->
<!--            <span class="footer-number">Q&A 게시판</span>-->
<!--            <div class="footer-review">-->
<!--              <ul class="footer-title">-->
<!--                <li>배송 빠르고 좋아요!</li>-->
<!--                <li>포장 꼼꼼해서 만족합니다</li>-->
<!--                <li>색감 실물이 더 예뻐요</li>-->
<!--                <li>가격대비 품질이 훌륭합니다</li>-->
<!--                <li>설치 기사님 친절했어요</li>-->
<!--                <li>두 번째 구매인데 역시 좋네요</li>-->
<!--                <li>응대가 빠르고 친절합니다</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            -->
<!--                      -->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </footer>     -->
      <div th:replace="fragments/footer :: footer">
      </div>
  </div>
</body>
</html>
