<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>온앤홈 관리자</title>
  <link rel="stylesheet" href="/css/import.css" />
  <script src="/js/oncommon.js"></script>
</head>
<body>
  <!-- 백그라운드 -->
  <div class="on-wrapper">
    <!-- 컨텐츠 영역 -->
    <div class="on-content">
      <!-- 사이드바 메뉴 -->
      <div class="on-side-menu">
        <div class="side-menu-logo">
          <h2>On&Home</h2>
        </div>
        <div class="on-side-menu-nav">
          <ul class="side-menu-list">
            <li><a href="/admin/order/list.html"><span class="ico_order"></span>주문관리</a></li>
            <li><a href="/admin/product/list.html"><span class="ico_item"></span>상품관리</a></li>
            <li>
              <a href="/admin/board/dashboard.html"><span class="ico_board"></span>게시판관리</a>
              <ul>
                <li><a href="/admin/board/dashboard.html">게시판 전체보기</a></li>
                <li><a href="/admin/board/notice/list.html">공지사항</a></li>
                <li><a href="/admin/board/review/list.html">리뷰</a></li> <!-- 오타 수정 -->
                <li><a href="/admin/board/qna/list.html">Q&amp;A</a></li>
              </ul>
            </li>
            <li><a href="/admin/user/list.html"><span class="ico_member"></span>회원관리</a></li>
          </ul>
        </div>
        <div class="on-side-menu-user">
          <span class="on-side-menu-id">Admin</span><span>님</span></sla><br><span> 안녕하세요</span>
          <div class="on-side-menu-logout">
            <span style="font-size: 16px;">logout</span>
            <button class="log-out"></button>
          </div>
        </div>
      </div>
      <!-- <내부영역 -->
      <div class="on-main">
        <h2 class="mb-30">Product Create</h2>
        <div class="">
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">상품코드</div>
            <div class="on-comp-tbl-td col-10">PC-001</div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">등록일자</div>
            <div class="on-comp-tbl-td col-10">2025-01-01</div>
          </div>          
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">상품명</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">제조사</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">제조국</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>          
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">정상가격</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">할인가격</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>                                                        
        </div>
        <div class="flex justify-end mt-20">
          <a href="/admin/product/list.html"><button class="btn btn--quarternary-outline mr-4">목록</button></a>
          <a href="#"><button class="btn btn--primary">등록</button></a>
        </div>
        <div class="on-border mt-20"></div>
        <h3 class="mt-20 mb-12">상세스펙</h3>
        <div class="">
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">크기</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">무게</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>          
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">전압</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">재질</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
          <div class="on-comp-tbl-row">
            <div class="on-comp-tbl-th col-2">추가상품</div>
            <div class="on-comp-tbl-td col-10">
              <input class="on-inp">
            </div>
          </div>
        </div>
        <div class="flex justify-end mt-20">
          <a href="/admin/product/list.html"><button class="btn btn--quarternary-outline mr-4">목록</button></a>
          <a href="#"><button class="btn btn--primary">등록</button></a>
        </div>                                
      </div>
    </div>
  </div>
</body>
</html>
