<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온앤홈 관리자</title>
    <link rel="stylesheet" href="/css/import.css" />
    <script src="/js/oncommon.js"></script>
</head>

<body>
<!-- 전체 배경 -->
<div class="on-wrapper">
    <!-- 컨텐츠 영역 -->
    <div class="on-content">

        <!-- ✅ 사이드바 fragment 불러오기 -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>

        <!-- ===== 메인 내부영역 ===== -->
        <div class="on-main">
            <h2 class="mb-30">Board List</h2>

            <div class="dash-wrapper gap-20">

                <div class="dash-up gap-20">
                    <div class="dash-board-card">
                        <h3 class="dash-content-tit2">공지사항</h3>
                        <div class="dash-content-inner">
                            게시물<span class="dash-content-value">
                  <a th:href="@{/admin/board/notice/list}">35</a>
                </span>건
                        </div>
                    </div>

                    <div class="dash-board-card">
                        <h3 class="dash-content-tit2">리뷰</h3>
                        <div class="dash-content-inner">
                            게시물<span class="dash-content-value">
                  <a th:href="@{/admin/board/review/list}">135</a>
                </span>건
                        </div>
                    </div>
                </div>

                <div class="dash-up gap-20">
                    <div class="dash-board-card">
                        <h3 class="dash-content-tit2">Q&amp;A</h3>
                        <div class="dash-content-inner">
                            게시물<span class="dash-content-value">
                  <a th:href="@{/admin/board/qna/list}">254</a>
                </span>건
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
